# Managed by Ansible
domain-needed
bogus-priv
expand-hosts
dns-forward-max=5096
min-cache-ttl=300
rebind-domain-ok=

{% if enable_forwarding %}
{% for server in forward_servers %}
server={{ server }}
{% endfor %}
{% endif %}

{% if enable_wildcard %}
address=/.{{ main_domain }}/{{ wildcard_ip }}
{% endif %}


{% if docker_registry is defined and docker_registry_ip is defined %}
address=/{{ docker_registry }}/{{ docker_registry_ip }}
{% endif %}