127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# Ansible managed hosts
{% for host in groups['all'] %}
{{ hostvars[host]['ansible_host'] | default(hostvars[host]['inventory_hostname']) }} {{ hostvars[host]['inventory_hostname'] }}
{% endfor %}

{% if registry_hosts is defined and registry_hosts | length > 0 %}
# Registry hosts
{% for hostname, ip in registry_hosts.items() %}
{{ ip }} {{ hostname }}
{% endfor %}
{% endif %}

{% if custom_hosts is defined and custom_hosts | length > 0 %}
# Custom hosts
{% for hostname, ip in custom_hosts.items() %}
{{ ip }} {{ hostname }}
{% endfor %}
{% endif %}
