---
# Ubuntu/Debian packages
ubuntu_packages:
  - kubelet
  - kubeadm
  - kubectl
  - bash-completion
  - dnsmasq
  - jq
  - openssh-server
  - ca-certificates
  - nfs-common
  - nfs-kernel-server
  - net-tools
  - containerd
  - chrony
  - curl
  - wget
  - k9s
  - nerdctl
  - buildkit

# Master-only packages (for installs group)
master_only_packages:
  - make
  
# RHEL/CentOS packages (required for k8s)
rhel_packages:
  - kubelet
  - kubeadm
  - kubectl
  - bash-completion
  - dnsmasq
  - jq
  - openssh-server
  - ca-certificates
  - tree
  - device-mapper-persistent-data
  - lvm2
  - chrony
  - curl
  - wget
  - which
  - k9s

# Optional RHEL/CentOS packages (install if available)
rhel_optional_packages:
  - nfs-utils
  - yum-utils

# Master-only packages (for installs group)  
master_only_rhel_packages:
  - make

# Package names that differ between distributions
package_map:
  nfs_client:
    Debian: nfs-common
    RedHat: nfs-utils
  nfs_server:
    Debian: nfs-kernel-server
    RedHat: nfs-utils
  network_tools:
    Debian: net-tools
    RedHat: net-tools
  time_sync:
    Debian: chrony
    RedHat: chrony
  helmfile:
    Debian: helmfile
    RedHat: helmfile-bundle
