apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ configmap_name }}
data:
  {{ gpu_model }}: |-
    version: v1
    flags:
      migStrategy: none
    sharing:
      timeSlicing:
        resources:
        - name: nvidia.com/gpu
          replicas: {{ replica_number }}