apiVersion: v1
kind: Config
clusters:
- cluster:
    server: https://{{ master_ip }}:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubernetes-admin
  name: kubernetes-admin@kubernetes
current-context: kubernetes-admin@kubernetes
