{
  "exec-opts": ["native.cgroupdriver=systemd"],
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "{{ docker_log_max_size }}"
  },
  "storage-driver": "overlay2",
  "insecure-registries": {{ insecure_registries | to_json }},
  "default-ulimits": {
    "nofile": {
      "Name": "nofile",
      "Hard": 300000,
      "Soft": 300000
    }
  }
  {% if gpu_added %}
  ,
  "default-runtime": "nvidia",
  "runtimes": {
    "nvidia": {
      "path": "/usr/bin/nvidia-container-runtime",
      "runtimeArgs": []
    }
  }
  {% endif %}
}