{% set k8s_version_parts = kubernetes_version.split('.') %}
{% set k8s_minor = k8s_version_parts[1] | int %}
{% if k8s_minor >= 31 %}
apiVersion: kubeadm.k8s.io/v1beta4
{% else %}
apiVersion: kubeadm.k8s.io/v1beta3
{% endif %}
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ ansible_host }}
  bindPort: 6443
nodeRegistration:
  criSocket: unix:///var/run/containerd/containerd.sock
---
{% if k8s_minor >= 31 %}
apiVersion: kubeadm.k8s.io/v1beta4
{% else %}
apiVersion: kubeadm.k8s.io/v1beta3
{% endif %}
kind: ClusterConfiguration
clusterName: kubernetes
kubernetesVersion: "{{ kubernetes_version }}"
{% if kube_vip_address is defined %}
controlPlaneEndpoint: {{ kube_vip_address }}:{{ kube_vip_port }}
{% endif %}
certificatesDir: /etc/kubernetes/pki
imageRepository: cr.makina.rocks/external-hub/kubernetes
dns:
  imageRepository: cr.makina.rocks/external-hub/kubernetes/coredns
etcd:
  local:
    dataDir: /var/lib/etcd
networking:
  dnsDomain: {{ dns_domain }}
  serviceSubnet: {{ service_subnet }}
  podSubnet: {{ pod_subnet }}
apiServer:
{% if k8s_minor >= 31 %}
  extraArgs:
  - name: authorization-mode
    value: Node,RBAC
{% else %}
  extraArgs:
    authorization-mode: Node,RBAC
{% endif %}
  certSANs:
{%- filter indent(width=4) %}

- 127.0.0.1
{% if kube_vip_address is defined %}
- {{ kube_vip_address }}
{% endif %}
{% for host in groups['masters'] %}
- {{ hostvars[host].ansible_host }}
{% endfor %}
{%- endfilter %}
controllerManager: {}
scheduler: {}