[Unit]
Description=Docker Registry Container
After=network.target

[Service]
ExecStart=/usr/local/bin/ctr run --detach --net-host --mount type=bind,src=/opt/docker-registry,dst=/var/lib/registry,options=rbind:rw docker.io/library/registry:2 registry
ExecStop=/usr/local/bin/ctr container kill registry
ExecStop=/usr/local/bin/ctr container rm registry

[Install]
WantedBy=multi-user.target