---
# NFS Server Installation and Configuration
- name: Install NFS server packages (Debian/Ubuntu)
  package:
    name:
      - nfs-kernel-server
      - nfs-common
    state: present
  when: 
    - nfs_server_enabled | default(false)
    - ansible_os_family == "Debian"

- name: Install NFS server packages (RedHat/CentOS)
  package:
    name:
      - nfs-utils
    state: present
  when: 
    - nfs_server_enabled | default(false)
    - ansible_os_family == "RedHat"

- name: Create NFS export directories
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
    owner: nobody
    group: nogroup
  loop: "{{ nfs_export_directories }}"
  when: 
    - nfs_server_enabled | default(false)
    - ansible_os_family == "Debian"

- name: Create NFS export directories (RedHat/CentOS)
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
    owner: nfsnobody
    group: nfsnobody
  loop: "{{ nfs_export_directories }}"
  when: 
    - nfs_server_enabled | default(false)
    - ansible_os_family == "RedHat"
  ignore_errors: yes

- name: Configure NFS exports
  template:
    src: exports.j2
    dest: /etc/exports
    backup: yes
  notify:
    - restart nfs-server
    - reload exports
  when: nfs_server_enabled | default(false)

- name: Start and enable NFS services (Debian/Ubuntu)
  systemd:
    name: "{{ item }}"
    state: started
    enabled: yes
  loop:
    - nfs-kernel-server
    - rpcbind
  when: 
    - nfs_server_enabled | default(false)
    - ansible_os_family == "Debian"

- name: Start and enable NFS services (RedHat/CentOS)
  systemd:
    name: "{{ item }}"
    state: started
    enabled: yes
  loop:
    - nfs-server
    - rpcbind
  when: 
    - nfs_server_enabled | default(false)
    - ansible_os_family == "RedHat"

- name: Configure firewall for NFS (UFW - Debian/Ubuntu)
  ufw:
    rule: allow
    port: "{{ item }}"
  loop:
    - "111"      # rpcbind
    - "2049"     # nfs
    - "20048"    # mountd
  when: 
    - nfs_server_enabled | default(false)
    - ansible_os_family == "Debian"
  ignore_errors: yes

- name: Configure firewall for NFS (firewalld - RedHat/CentOS)
  ansible.posix.firewalld:
    service: nfs
    permanent: yes
    state: enabled
    immediate: yes
  when: 
    - nfs_server_enabled | default(false)
    - ansible_os_family == "RedHat"
  ignore_errors: yes

- name: Configure firewall for rpcbind (firewalld - RedHat/CentOS)
  ansible.posix.firewalld:
    service: rpc-bind
    permanent: yes
    state: enabled
    immediate: yes
  when: 
    - nfs_server_enabled | default(false)
    - ansible_os_family == "RedHat"
  ignore_errors: yes

- name: Configure firewall for mountd (firewalld - RedHat/CentOS)
  ansible.posix.firewalld:
    service: mountd
    permanent: yes
    state: enabled
    immediate: yes
  when: 
    - nfs_server_enabled | default(false)
    - ansible_os_family == "RedHat"
  ignore_errors: yes

- name: Display NFS server status
  debug:
    msg: "NFS server installed and configured. Export directories: {{ nfs_export_directories | join(', ') }}"
  when: nfs_server_enabled | default(false)